<%= @user.email %>
<h3>You have climbed the following peaks:</h3>

<ul>
  <% for peak in @user.peak_ids do %>
    <li><%= Peak.find(peak).name %></li>
  <% end %>
</ul>

<h3>Add more climbs</h3>

<%= form_for current_user do |f| %>
  <% for peak in Peak.all %>
    <%= check_box_tag "user[peak_ids][]", peak.id, current_user.peaks.include?(peak) %>
    <%= peak.name %><br>
  <% end %>   
  <p><%= f.submit %></p>
<% end %>