<div class="container">
  
  <div class="col-md-7">
    <%= @user.email %>
    <h4>You have climbed the following peaks:</h4>

    <ul>
      <% for peak in @user.peak_ids do %>
        <li><%= Peak.find(peak).name %></li>
      <% end %>
    </ul>

    <% total_ascent = 0 %>
    <% for peak in @user.peak_ids do %>
      <% total_ascent += Peak.find(peak).ascent %>
    <% end %>

    <h4>You have climbed a total of <%= total_ascent %> feet!</h4>

    <% total_climbed = @user.peak_ids.length %>
    <h4>You have climbed <%= (total_climbed/46.0*100).round %>% of the peaks!</h4>

    <h4>Add more climbs</h4>
<div class="container">
    <%= form_for current_user, :remote => true do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <!-- I kept the form_for construct, but changed the logic[here @peaks is an array!]  N. -->
        <% 5.times do %>
          <div class="row">
            <% @peaks.slice(@idx,@rng).each do |peak| %>
              <div class="col-md-1 small text-nowrap">
                <% if current_user.peaks.include?(peak) %>
                <%= image_tag("badges/green.png", :class => "no-img-circle center-block", :id => peak.id, height: 50, width: 50)%>
                <% else %>
                <%= image_tag("badges/snow.png", :class => "no-img-circle center-block", :id => peak.id, height: 50, width: 50)%>
                <% end %>
                <p><!-- paragraph tag needed to get the checkbox and text beneath the image N. -->
                <%= check_box_tag "user[peak_ids][]", peak.id, current_user.peaks.include?(peak) %>
                <%= peak.name %>
                </p>
              </div>
            <% end %>
          </div>
          <% @idx += @rng %><!-- instance variables for loop control N. -->
        <% end %>
      
      <p><%= f.submit %></p>
    <% end %>
</div>
<%= link_to "Test", user_path, remote: true %>
<div id="test" style="display:none;"></div>
  </div>  

  <div class="col-md-5">
    <br>
    <br>
    <br>
    <% if total_ascent > 50000 %>
      <%= image_tag 'badges/chevron-20.png', :size => "130x130" %>
      <p>50,000 ft!</p>
    <% end %>

    <% if total_climbed > 22 %>
      <%= image_tag 'badges/chevron-6.png', :size => "130x130" %>
      <p>Half way to 46!</p>
    <% end %>

    <% if @user.peak_ids.include? 1%>
      <%= image_tag 'badges/chevron-11.png', :size => "130x130" %>
      <p>Highest point in New York State!</p>
    <% end %>  

    <% if total_climbed == 46 %>
      <%= image_tag 'badges/002-crown.png', :size => "130x130" %>
      <p>You've climbed all 46 peaks!</p>
    <% end %>

  </div>
</div>