<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <%= image_tag("twitter/twitter49.jpg")%>
        <div class="carousel-caption">
            <h3>First Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitterX.jpg") %>
        <div class="carousel-caption">
            <h3>Second Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter64.jpg")%>
        <div class="carousel-caption">
            <h3>Third Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter37.jpg")%>
        <div class="carousel-caption">
            <h3>Fourth Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter40.jpg")%>
        <div class="carousel-caption">
            <h3>Fifth Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter16.jpg")%>
        <div class="carousel-caption">
            <h3>Sixth Image</h3>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h2>Welcome to the 46 Peaks App</h1>
<h4>Click on a peak below to learn more</h4>
<% @peaks.each do |peak| %>
  <p><%= link_to peak.name, peak_path(peak) %><p>
<% end %>

