<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <%= image_tag("twitter/twitter49.jpg")%>
        <div class="carousel-caption">
            <h3>First Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitterX.jpg") %>
        <div class="carousel-caption">
            <h3>Second Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter64.jpg")%>
        <div class="carousel-caption">
            <h3>Third Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter37.jpg")%>
        <div class="carousel-caption">
            <h3>Fourth Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter40.jpg")%>
        <div class="carousel-caption">
            <h3>Fifth Image</h3>
        </div>
    </div>
    <div class="item">
        <%= image_tag("twitter/twitter16.jpg")%>
        <div class="carousel-caption">
            <h3>Sixth Image</h3>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="span6"><%= image_tag("logo.png", :class => "pull-left") %><p class="h3 text-center">Welcome to the PeaksApp</p>
        <p class="h4 text-justify">The Adirondack High Peaks is the name given to 46 mountain peaks in the Adirondack Mountains of New York,
         United States that were originally believed to comprise all of the Adirondack peaks higher than 4,000 feet (1,219 m).
         [1] However, later surveying showed that four of the peaks in the group are actually under this elevation, and one
          additional peak that is close to this elevation had been overlooked. Due to tradition, no mountains were removed from or added to 
          the group as a result of the revised elevation estimates. The region contains many alpine lakes and meadows, wetlands, streams, and forests.
        </p>
        </div>
    </div>
    <div class="col-md-6">
        <p class="h2 text-center">Placeholder for DEC Info</p>
    </div>
</div>


